* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    color: white;
    font-family: Arial, Helvetica, sans-serif;
    letter-spacing: -1;
    line-height: 1.2em;
}

.section {
    background-color: rgb(23, 23, 37);
}

.section,
footer {
    width: 100vw;
    height: 130vh;
}

.heading {
    padding: 4vw 10vw;
    font-size: 4vw;
    font-weight: 700;
}

strong {
    color: #6E1FCE;
}

.form {
    display: flex;
    justify-content: center;
    width: 100vw;
}

form {
    display: flex;
    flex-direction: column;
    width: 40vw;
}

form input,
form textarea {
    background-color: black;
    padding: 30px 60px;
    width: 37vw;
    border-radius: 10px;
    background-repeat: no-repeat;
    background-size: 26px;
}

form input {
    background-position: 20px center;
}

form textarea {
    background-position: 20px 30px;
}

.form-group {
    margin-bottom: 15px;
    position: relative;
}

form input[name="name"] {
    background-image: url('./images/bxs_user-circle.png');
}

form input[name="number"] {
    background-image: url('./images/ant-design_phone-filled.png');
}

form input[name="email"] {
    background-image: url('./images/fluent_mail-20-filled.png');
}

form textarea {
    background-image: url('./images/bxs_chat.png');
}

form button {
    display: flex;
    border-radius: 30px;
    width: 170px;
    background-color: blueviolet;
    padding: 13px 30px;
    cursor: pointer;
    border: 2px solid black;
}

.image {
    width: 40vw;
    height: 40vw;
}

.img {
    border-radius: 10px;
    width: 37vw;
    height: 37vw;
}

.img-text {
    width: 35vw;
    text-align: center;
    font-size: 2.3vw;
    font-weight: 700;
    line-height: 1.3em;
    position: absolute;
    top: 37vw;
}

footer {
    background-color: black;
    display: flex;
    justify-content: space-evenly;
    font-size: 20px;
}

.left {
    padding: 80px;
    width: 55vw;
}

.foot {
    font-size: 5vw;
    font-weight: 600;
    padding: 50px 0px;
}

.text {
    color: gray;
}

.button {
    padding: 15px 30px;
    background-color: white;
    color: black;
    border-radius: 30px;
    font-weight: bold;
    margin: 45px 0px;
    cursor: pointer;
}

.button i {
    color: black;
}

.font {
    padding: 3px 0px;
}

.privacy {
    text-decoration: underline;
}

.copy {
    margin-top: 20px;
    padding: 30px 0px;
    display: flex;
}

.right {
    padding: 100px;
    width: 35vw;
}

.contact {
    margin-top: 20px;
    font-weight: bold;
    padding: 30px 0px;
}

.mail {
    margin-bottom: 40px;
}

.follow {
    margin-top: 80px;
    font-weight: bold;
    padding: 30px 0px;
}

.icon {
    display: flex;
    justify-content: space-between;
}

.social {
    font-size: 30px;
    list-style: none;
}

.social a {
    text-decoration: none;

}

@media screen and (max-width:1100px) {
    .section,
    footer {
        width: 100vw;
        height: 150vh;
    }

    footer {
        justify-content: space-between;
    }

    .left {
        margin-left: 30px;
        padding: 60px 20px;
    }

    .right {
        padding: 100px 20px;
    }
}

@media screen and (max-width:800px) {
    .form {
        flex-direction: column;
    }

    form {
        width: 90vw;
        margin: 20px auto;
    }

    .heading {
        padding: 4vw 6vw 6vw 6vw;
        font-size: 6vw;
    }

    form input,
    form textarea {
        width: 90vw;
    }

    .image {
        width: 100vw;
    }

    .img {
        width: 80vw;
        height: 80vw;
        margin: auto;
    }

    .img-text {
        width: 80vw;
        font-size: 5vw;
    }

    footer {
        justify-content: unset;
        flex-direction: column;
    }

    .left {
        margin-left: 20px;
        width: 90vw;
    }

    .copy {
        display: block;
    }

    .right {
        width: 100vw;
        padding: 0px;
        margin-left: 20px;
    }

    .first,
    .second {
        display: flex;
        justify-content: space-evenly;
    }

    .contact {
        margin-top: 0px;
        padding-top: 0px;
        text-align: center;
    }

    .sec {
        width: 40vw;
    }

    .follow {
        margin-top: 0px;
        padding: 20px 0px;
    }

    .icon {
        width: 33vw;
    }

    .foot {
        font-size: 30px;
    }

}

@media screen and (max-width:400px) {
    .heading {
        font-size: 8vw;
    }

    .img-text {
        top: 120vh;
        left: 10vw;
    }

}